a:hover{
    text-decoration: none;
}
/*最大  lg*/
@media screen and (min-width: 1200px){
    .navbar>.container>div>.navbar-collapse{
        margin-top:-30px;
    }
}
/*针对PC md*/
@media screen and (min-width: 992px) and
(max-width: 1199px){
    .navbar>.container>div>.navbar-collapse{
        margin-top:30px;
    }
}
/*针对PAD sm*/
@media screen and (min-width: 768px) and
(max-width: 991px){
    .navbar>.container>div>.navbar-collapse{
        margin-top:30px;
    }
}
/*针对PHONE xs*/
@media screen and (max-width: 767px){
    .navbar>.container>div>.navbar-header>.navbar-toggle{
        margin-top:30px;
    }
}
/*1.导航*/
.navbar{
    border-top:6px solid #3185CB;
    background:#8FC0EA url(../images/clouds_retina4.png);
    height:260px;
    position:relative;
}
/*1.1导航*/
.navbar>.container{
    margin-top:50px;
}
.navbar>.container>div>#menu>.nav{
    position:relative;
    z-index:3;
    top:50px;
}
.navbar>.container>div>.navbar-collapse>ul>li>a{
    color:#fff;
    font-size:18px;
    margin-right:3px;
    border-bottom:4px solid #1A466C;
}
/*1.2小背景*/
.navbar>.bg{
    width:100%;
    background:#FCF5D5 url(../images/grass_retina4-2yqdohngqzju07o7oeuwwa.png);
    background-size: 100% 100%;
    height:70px;
    border-top:6px solid #FEE6B4;
    position:absolute;
    bottom:0;
}
/*2.主体*/
 /*背景*/
.bg{
    background:#000 url(../images/pattern_new_year.png);
}
/*左侧：电影清单*/
.type{
    padding:60px 20px;
}
 /*电影*/
.movie{
    background:#fff;
}
.movie>.title{
    text-align:center;
    font-size:30px;
    font-weight:bold;
    color:#fff;
    background:#000;
    padding:10px 0;
}
.movie>video{
    width:100%;
}
.movie>.control{
    background:#000;
    padding:20px;
}
.movie>.control a,
.movie>.control i{
    font-size:30px;
    color:orange;
}
.movie>.control>.time>span{
    color:orange;
}
.movie>.control>.time>.timewidth{
    background:#fff;
    height:5px;
    border-radius:10px;
    position:relative;
    cursor:pointer;
}
.movie>.control>.time>.timewidth>span{
    display:inline-block;
    position:absolute;
    width:0;
    height:5px;
    background:orange;
    border-radius:10px;
    transition:all 1s;
}
.movie>.control>.voice>.voicewidth{
    position:relative;
    display:inline-block;
    width:70px;
    background:#fff;
    height:5px;
    border-radius:10px;
    cursor:pointer;
    top:-5px;
}
.movie>.control>.voice>.voicewidth>span{
    position:absolute;
    display:inline-block;
    width:10%;
    height:5px;
    background:orange;
    border-radius:10px;
    transition:all .5s;
}
.movie>.control>.rate>.btn{
    font-size:10px;
    color:#fff;
}

